* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f6ff;
  color: #222;
}

.navbar {
  height: 70px;
  background: #3157d5;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;
}

.navbar h2 {
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.home-container {
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.home-card {
  background: white;
  width: 600px;
  max-width: 100%;

  padding: 55px;

  text-align: center;

  border-radius: 15px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.home-card h1 {
  color: #3157d5;
  margin-bottom: 20px;
  font-size: 32px;
}

.home-card p {
  margin-bottom: 15px;
  line-height: 1.6;
}


.form-container {
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.form-card {
  width: 600px;
  max-width: 100%;
  background: rgb(255, 255, 255);
  padding: 55px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.form-card h1 {
  text-align: center;
  color: #0d0d0e;
  margin-bottom: 35px;
  font-size: 28px;
}

.form-card label {
  display: block;

  margin-top: 20px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 17px;
}

.form-card input {
  width: 100%;
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 17px;
}

.form-card input:focus {
  outline: none;
  border-color: #3157d5;
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 40px;
  border: none;
  border-radius: 7px;
  background: #3157d5;
  color: white;

  font-size: 17px;
  font-weight: bold;

  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  background: #2343ae;
}


.error {
  color: #d62828;
  margin-top: 15px;
  font-size: 14px;
}

.result-container {
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

.result-card {
  width: 600px;
  max-width: 100%;

  background: white;

  padding: 55px;

  text-align: center;

  border-radius: 15px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.result-card h1 {
  color: #3157d5;
  margin-bottom: 25px;
  font-size: 32px;
}

.bmi-value {
  font-size: 60px;
  font-weight: bold;

  color: #3157d5;

  margin: 25px 0;
}

.result-card h2 {
  margin-bottom: 20px;
  font-size: 25px;
}

.details {
  line-height: 2;
  font-size: 17px;
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar h2 {
    font-size: 19px;
  }

  .nav-links {
    gap: 12px;
  }

  .home-card,
  .form-card,
  .result-card {
    padding: 35px 25px;
  }

  .bmi-value {
    font-size: 45px;
  }
}
